/* div visible par survole */
.hidden_div div {
    display: none;
}

.container:hover {

    border: 2px solid #08EFFD;
    text-align: center;
    border-radius: 10px 0 10px 0;
    padding: 15px 32px;
    margin-bottom: 2em;
    color: #08EFFD;
}

.container img {
    display: inline-block;
}

.container:hover img {
    display: none;
}

.container:hover .hidden_div div {
    display: block;
    color: #c5bdcc;
}

/* .rule_password{
    display: none;
} */

/* fin div visible par survole */