/* div visible par survole */
.hidden_div div {
    display: none;
}

.showcontenaire {
    border: 2px solid #08EFFD;
    text-align: center;
    border-radius: 10px 0 10px 0;
    padding: 15px 32px;
    margin-bottom: 2em;
    color: #08EFFD;
}

.hiddeimg {
    display: none;
}

.colorrules {
    color: #c5bdcc;
}

/* .container:hover {

    border: 2px solid #08EFFD;
    text-align: center;
    border-radius: 10px 0 10px 0;
    padding: 15px 32px;
    margin-bottom: 2em;
    color: #08EFFD;
}


.container:hover img {
    display: none;
}

.container:hover .hidden_div div {
    display: block;
    color: #c5bdcc;
} */

.display_inlineblock {
    display: inline-block;
}

/* .rule_password{
    display: none;
} */

/* fin div visible par survole */

.display_none {
    display: none;
}

.display_block {
    display: block;
}